[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "3rdparty/freetype"]
	path = 3rdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "3rdparty/AES"]
	path = 3rdparty/AES
	url = https://github.com/SeaniaTwix/AES
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "3rdparty/mio"]
	path = 3rdparty/mio
	url = https://github.com/mandreyel/mio
